.left-opt {
  /* background-color: antiquewhite; */
  height: -webkit-fill-available;
  display: inline-block;
  background-image: url('../../assets/img/landscape-iceland.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.center-opt {
  background-color:blueviolet;
  height: -webkit-fill-available;
  display: inline-block;
  background-image: url('../../assets/img/landscape-desert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.right-opt {
  /* background-color:burlywood; */
  height: -webkit-fill-available;
  display: inline-block;
  background-image: url('../../assets/img/landscape-caribbean.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.styled {
  margin:auto;
  padding: 3%;
}
.landing-main-card {
  padding: 3%;
}
.main-card-body {
  background-color: #caa5a5;
  color:#ffffff;
}
.main-card-button {
  background-color: #123255;
  border-color: #123255;
}
.main-card-button:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #ffffff;
}
.active {
  cursor: pointer;
  color: transparent;
}
.active:hover {
  cursor: pointer;
  box-shadow: 3px 4px 4px 0 rgba(62, 47, 47, 0.36);
  background-color: transparent;
  background-image: none;
}
.osm {
  background-image: url('../../assets/img/card-covers/openstreetmap_356386_full.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.dtt {
  background-image: url('../../assets/img/card-covers/datatables-sorting-feature.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.chjs {
  background-image: url('../../assets/img/card-covers/20161014011001_chart-js.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.cd-tx {
  color: transparent;
}
.cd-tx:hover {
  color: inherit;
}

