<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light baby-bar"> -->
    <a class="navbar-brand" href="#">Your Brand & Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/place' routerLinkActive='active'>GIS Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/datatable' routerLinkActive='active'>Data Tables</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink='/form' routerLinkActive='active'>Form</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink='/charts' routerLinkActive='active'>Charts</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Yet to define</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer>
    YOUR BRAND & LOGO &trade; use your ideas
  </footer>
</div>
