<div class="container">
  <div class="intro">
    <h1>Get charts functionality for your app</h1>
    <p>Using popular & powerful Chart.js library add beautiful graphs and data analysis functionalities to your app.</p>
  </div>
  <div class="row">
    <div class="col chart">
      <label for="myChart">Bar Chart</label>
      <canvas id="myChart" ></canvas>
    </div>
    <div class="col chart">
      <label for="myChart1">Polar Chart</label>
      <canvas id="myChart1" ></canvas>
    </div>
    <div class="w-100"></div>
    <div class="col chart">
      <label for="myChart2">Doughnut Chart</label>
      <canvas id="myChart2" ></canvas>
    </div>
    <div class="col chart">
      <label for="myChart3">Line Chart</label>
      <canvas id="myChart3" ></canvas>
    </div>
  </div>
</div>
