/* You can add global styles to this file, and also import other style files */
.with-styling {
  padding: 1%;
}
.intro {
  padding: 3%;
  margin: auto;
  text-align: center;
}
.sole-title {
  margin: auto;
  text-align: center;
  padding: 16%;
}

